$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkred        : #7e0b1c;
$darkerblue     : #400b05;
$paleryellow    : #FCF4DC;
$darkpink   	: #fefaf7;
$yellow         : #A57706;
$green         : #8aae14;
$red            : #D11C24;
$pink           : #fff1f1;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #9c90da;
$darkblue       : #2c5a72;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Droid Serif', serif;

$default-border-radius : 5px;